/* sbeautiful css */

html,
body,
.App {
  color: white;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(1, 3, 0);
  padding: none;
}
.infopar {
  background-color: white;
  display: flex;
}
.par {
  color: black;
  background: ;
  margin: 55px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 20%;
  padding: 20px;
}
.par:hover {
  background-color: rgba(219, 221, 224, 0.986);
}
.container {
  display: flex;
}
.empbtn {
  background-color: forestgreen;
  color: white;
  width: 85%;
  border: none;
}
.orders {
  color: white;
  background-image: radial-gradient(rgb(50, 50, 50), black);
  width: 60%;
  justify-content: space-between;
  border-radius: 25px;
}
.buttons {
  background-image: radial-gradient(rgb(50, 50, 50), black);
  color: white;
  position: relative;
  /* background-color: rgb(17, 17,17); */
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  width: 85%;
  max-width: 700px;
  border-radius: 25px;
  align-items: center;
}
.buttons:hover {
  transform: scale(1.15);
}
.buybtn {
  background: forestgreen;
  color: white;
  marginleft: auto;
}
.li {
  list-style: none;
}

.price {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: column;
}

.navButton {
  color: white;
  height: 15vh;
  width: 20%;
  max-height: 60px;
  border: none;
  background-color: rgb(0, 0, 0);
}
.navButton:hover {
  background-color: rgb(17, 16, 16);
}
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  /* max-width: 600px; */

  /* background-color: rgb(24, 231, 180); */
}
.submit {
  color: white;
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  /* color: rgb(24, 231, 180); */
  background-color: rgb(0, 0, 0);
  max-width: 600px;
}
.buybtn {
  border: none;
}
.sellbtn {
  border: none;
}
.showBalance {
  text-align: right;
  margin: 15px;
}
.value {
  background-image: radial-gradient(rgb(50, 50, 50), black);
  text-align: center;
}

.Addtobalance {
  width: 70%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: rgb(226, 218, 218);
  transition: 0.3s all;
  font-size: 50px;
  max-width: 500px;
}

.EandP {
  max-width: 600px;
}

.Logy {
  display: flex;
  flex-direction: column;
}
